# For bot container
NODE_ENV=development
BOT_TOKEN=
BOT_CLIENT_ID=
GUILD_ID=
API_URL=
API_KEY=

APP_ENV=development
APP_PORT=8000
DB_HOST=localhost
DB_PORT=8000
MSG_EXPIRY_SEC=604800 # 1 week
MAX_EMBED_DIST=0.7
ENABLE_PROMPT_CONFIG=true

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
OPENAI_API_KEY=